.details-list {
    display: flex;

}

.details-list__item {
    width: 270px;
    margin-right: 30px;
}

.icon-container {
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--second-back);
    margin-bottom: 30px;
}

.details-list__icon {
    width: 70px;
    height: 70px;
}

.details-list__head {
    font-family: 'Roboto';
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.details-list__text {
    color: var(--second-main);
    font-weight: 400;
    line-height: 1.7;
}