.team {
    background-color: var(--second-back);
}

.team__head {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
}

.team-list {
    display: flex;
    justify-content: space-between;
    padding: 0;

}

.team-list__item {
    background-color: var(--main);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}

.team-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

.team-list__profession {
    color: var(--second-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 16px;
}


.connect-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.connect-list__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    &:hover,
        &:focus {
            background-color: var(--sending);
            opacity: 1;
            fill: var(--main);
            transition-property: background-color, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.connect-list__link {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}





.connect-list__icon {
    text-align: center;
    width: 44px;
    height: 44px;
    padding: 12px;
    fill: var(--iconcolor);
    &:hover,
        &:focus {
            fill: var(--main);
            opacity: 1;
        }
}