:root {
    --main: #fff;
    --sending: #2196F3;
    --after: #2196F3;
    --send-two: #188CE8;
    --main-text-color: #212121;
    --black: #000000;
    --second-main: #757575;
    --back: #2F303A;
    --second-back: #F5F4FA;
    --border-one: #ECECEC;
    --border-two: #EEEEEE;
    --border-three: #AFB1B8;
    --iconcolor: #AFB1B8;
    --footericon: #2F303A;
}